/deep/ ng2-smart-table table{
    border-style: inset;
    border-color: initial;
    border-image: initial;
    border-width: 2px;
    
    display: table;
    border-spacing: 2px;
    border-color: grey; /* border of the big table*/
}

/* grid lines */
/deep/ ng2-smart-table table > tbody > tr > td {
    box-sizing: border-box;
    border: 1px solid grey;
}

/* headers grid color*/
 /deep/ ng2-smart-table thead > tr > th  { 
    border: 1px solid grey;
    background-color:#eaeaea;
}  
/*font size*/
 /deep/ ng2-smart-table {
    font-size:16px;
}