/deep/ ng2-smart-table table{
    border-style: inset;
    border-color: initial;
    border-image: initial;
    border-width: 2px;
    display: table;
    border-spacing: 2px;
}

/* grid lines */
/deep/ ng2-smart-table table > tbody > tr > td {
    box-sizing: border-box;
    border: 1px solid #cacaca;
}

/* headers grid color*/
 /deep/ ng2-smart-table thead > tr > th  { 
    border: 1px solid #cacaca;
    background-color:#eaeaea;
}  
/*font size*/
 /deep/ ng2-smart-table {
    font-size:16px;
}

.search {
    border-radius: 10px;
    border: none;
    width: 300px;
}