<div class="openDrawer fa fa-bars"  (click)="navigationDrawer()">
    <span class="glyphicon glyphicon-menu-hamburger"></span>
</div>
    
    <div class="overlay" [@showOverlay]="showOverlay"></div>
    
    <div class="navigation" [@navigation]="navigation" >
    	<div class="close-nav fa fa-times-circle-o" (click)="navigationDrawer()">
    		<span class="glyphicon glyphicon-menu-left"></span>
    	</div>
    	<ul (click)="navigationDrawer()">
    		<li><a [routerLink]="['/']">Display the status</a></li>
    		<li><a [routerLink]="['/file_retrigger']">File Retrigger</a></li>
    		<li><a [routerLink]="['/file_retrigger']">Update file status</a></li>
    		<li><a [routerLink]="['/file_retrigger']">Manager actions</a></li>
    		<li><a [routerLink]="['/file_retrigger']">Logs</a></li>
    	</ul>
    </div>
<router-outlet></router-outlet>
<div class="page container">
    
</div>
