<!--The content below is only a placeholder and can be replaced.-->

<div class="topnav" id="myTopnav">
  <a href="#home" class="active">Display The Status</a>
  <a href="#news">File Retrigger</a>
  <a href="#contact">Update the Status</a>
  <a href="#about">Manager Actions</a>
  <a href="#about">Logs</a>
  <a href="#about" style='float:right'>Logout</a>
  <a href="#about" style='float:right'>Logged</a>
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
</div>

<div class="topnav-title">
  <h2>
    {{ title }}
  </h2>
  <div>
    <input type="date">
    <select>
      <option value="volvo">All</option>
      <option value="volvo">IDN to WNG</option>
      <option value="saab">WNG to IDN</option>
      <option value="mercedes"></option>
      <option value="audi"></option>
    </select>
  </div>
</div>



<div style="text-align:center">
  
</div>
<app-table></app-table>
